@import './../../../variables';
.button-row {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.accordion-click {
    cursor: pointer;
    text-align: center;
    display: block;
    opacity: 1;
    visibility: visible;
    height: 50px;
    position: absolute;
    left: 0;
    line-height: 50px;
    right: 0;
    margin: auto;
    bottom: 0;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: inset 0px -50px 30px -10px rgba($light, 1);
    -moz-box-shadow: inset 0px -50px 30px -10px rgba($light, 1);
    box-shadow: inset 0px -50px 30px -10px rgba($light, 1);
    text-overflow: ellipsis;
    text-overflow: hidden;
    &.active {
        opacity: 0;
        visibility: hidden;
        &:before {
            opacity: 0;
            visibility: hidden;
        }
    }
    &:before {
        content: "";
        display: block;
        height: 1px;
        width: calc(100% - 20px);
        background: $muted;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all .3s ease-in-out;
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }
}

.accordion-body {
    overflow: hidden;
    position: relative;
    padding: 30px 24px 30px 24px;
    background-color: $light;
    box-sizing: border-box;
    max-height: 210px;
    display: block;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    margin-bottom: -8px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12);
    &.active {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        max-height: 100%;
        padding: 50px 24px 40px 24px;
        margin: 16px 0;
        margin-top: 24px;
        transform: matrix(1.03, 0, 0, 1.03, 0, 0);
    }
}