.accordion-body([class.active]='active')
    ng-content
.accordion-click.material-icons((click)='onClick($event)', [class.active]='active') keyboard_arrow_down
.button-row([class.active]='active')
    button(mat-icon-button)
        mat-icon pin_drop
    button(mat-icon-button)
        mat-icon fullscreen
    button(mat-icon-button)
        mat-icon more_vert