p(*ngIf="isShow; else isBlock") Hola mundo {{ name }} {{ lastName }}
ng-template#isIdentidifier(#isBlock)
    p([ngStyle]="{'color': color }") Esta escodido

p([ngClass]="isShow ? 'blue':'red'") Hola mundo {{ name }} {{ lastName }}

button((click)="showMessage()",) click me!

input(type="text", [(ngModel)]="lastName")
