div([ngClass]="getEntityClass()")
        //-TODO: sin son varios validar
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
            strong Giovanni Camana
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
            strong Giovanni Camana
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
            strong Giovanni Camana
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
            strong Giovanni Camana
        .cs-avatar-count
            span + {{ this.usersCount - 3  || '0' }}