h1(mat-dialog-title) Titulo {{data.id_edudle}}
div(mat-dialog-content)
    mat-form-field
        input(matInput, [(ngModel)]="data.objEdudle.titudle", placeholder="Titulo")
    mat-form-field
        textarea(matInput, [(ngModel)]="data.objEdudle.desc_dudle", placeholder="Contenido", rows="7")
div(mat-dialog-actions)
    button(mat-button, (click)="onNoClick()") Cancelar
    button(mat-button, cdkFocusInitial, (click)="editarEdudle()") Editar