p(data-text="hola", [attr.data-otro]="valor", [ngStyle]="myCss",
  (click)="showMsj()") Este dato => {{headerTitle}} viene del MainComponent

p {{edudle?.titudle}}
p {{edudle?.desc_dudle}}
a([href]="edudle?.linkudle")
    img([src]="edudle?.imagedudle || UNKNOWN_USER_IMAGE", width="200px")

tabla-edudle([dataSource]="my_edudles")
table(border="1")
    tr
        th Titulo
        th Descripcion
        th Link
        th Imagen
        th Doodle base
        th Activo
        th Editar
    tr(*ngFor="let edud of my_edudles; let i=index")
        td {{edud.titudle}}
        td {{edud.desc_dudle}}
        td {{edud.linkudle}}
        td 
            img([src]="edud.imagedudle", width="100px")
        td {{edud.flg_default  == '1' ? 'SI' : 'NO'}}
        td {{edud.flg_acti  == '1' ? 'SI' : 'NO'}}
        td
            button((click)="openModalEditEDoodle(edud)") Editar