.cs-title {
    transition: opacity .35s ease-in-out;
    opacity: 0;
    &.showTitle {
        opacity: 1;
    }

    @media screen and (max-width: 800px) {
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }
}

.shadow {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    -webkit-transition: box-shadow 0.8s cubic-bezier(0.0, 0.0, 0.2, 1) ;
    -moz-transition: box-shadow 0.8s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: box-shadow 0.8s cubic-bezier(0.0, 0.0, 0.2, 1);
}