cs-shrinking-header-component([headerHeight]="256", [offset]="64")
    .wrapper
        span#title.font-size-56([class.hideTitle]="displayTitle") {{ title }}

mat-card
    p Main Component Giovanni Camana

    button(mat-raised-button, (click)="goModule('bsc')") Balance Scorecard

    app-demo-compoenent
    new-component([headerTitle]="title", [nombre]="'Valor hardcodeado'")

//- form([formGroup]="newUserForm")
//-     mat-form-field
//-         input(matInput, type="text", placeholder="First Name", formControlName="firstName")
//-         mat-error(*ngIf="!newUserForm.controls.firstName.valid") 'firstName Is required'
//-     mat-form-field
//-         input(matInput, type="text", placeholder="Last Name", formControlName="lastName")
//-         mat-error(*ngIf="!newUserForm.controls.lastName.valid") 'lastName Is required'
//-     mat-form-field
//-         input(matInput, type="text", placeholder="username", formControlName="username")
//-         mat-error(*ngIf="!newUserForm.controls.username.valid") 'username Is required'
//-     mat-form-field
//-         input(matInput, type="text", placeholder="Email Address", formControlName="email")
//-         mat-error(*ngIf="!newUserForm.controls.email.valid") 'email Is required'
//-     mat-form-field
//-         input(matInput, type="password", placeholder="Password", formControlName="password")
//-         mat-error(*ngIf="!newUserForm.controls.password.valid") 'password Is required'

//-     mat-form-field
//-         input(matInput, type="password", placeholder="confirm Password", formControlName="confirmPassword")
//-         mat-error(*ngIf="!newUserForm.controls.confirmPassword.valid") 'confirmPassword Is required'
//-     mat-form-field
//-         mat-select(placeholder="Language", formControlName="language")
//-             mat-option(value="spanish") Spanish
//-             mat-option(value="english") English

//-     button(mat-raised-button, [disabled]="!newUserForm.valid", (click)="register()") Save