
<mat-sidenav-container>
  <mat-sidenav #modenav>
    <mat-toolbar>
      <mat-toolbar-row><span class="cs-title" [class.showTitle]="displayTitle">{{ title }}</span></mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" position="end">
    <mat-toolbar>
      <mat-toolbar-row><span class="cs-title" [class.showTitle]="displayTitle">{{ title }}</span></mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content #scrollArea>
    <header>
      <header-component [displayTitle]="displayTitle" [title]="title" (onToggleSide)="onToggleSide($event)" (onToggleMode)="onToggleMode($event)"></header-component>
    </header>
    <div class="st-content" #pruebaDemo>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>