@import './variables';
mat-sidenav {
	width: 300px;
}
header-component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.st-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
// .cs-mat-sidenav-container {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }
// mat-sidenav-container{
//     flex: 1;
// }

mat-sidenav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    scroll-behavior: smooth;
}