mat-sidenav-container
    mat-sidenav(#modenav)
        mat-toolbar
            mat-toolbar-row
                span.cs-title([class.showTitle]="displayTitle") {{ title }}

    mat-sidenav(#sidenav, [mode]="mobileQuery.matches ? 'over' : 'side'", position="end")
        mat-toolbar
            mat-toolbar-row
                span.cs-title([class.showTitle]="displayTitle") {{ title }}

    mat-sidenav-content(#scrollArea)
        header
            header-component([displayTitle]="displayTitle" , [title]="title", (onToggleSide)="onToggleSide($event)", (onToggleMode)="onToggleMode($event)")

        .st-content(#pruebaDemo)
            router-outlet
