.no-padding{
    padding: 0;
}

.cs-row-flex {
	display: flex;
}

.cs-row-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.col-5{
    width: calc(100% / 2);
}

.col-12 {
	width: 100%;
}

.col-4 {
	width: calc(100% / 3);
}

.col-3 {
	width: calc(100% / 4);
}


