/* ==========================================================================
	 Variables
========================================================================== */

$primary :#0d4885;
$secondary :#9749FF;
$light: #fff;
$muted:#e9e9e9;
$dark:#5E5E5E;
$green:#43ACA1;
$orange:#FFC324;
$red:#FF3504;
$gray:gray;

h2{
    color: $dark;
}

.wrapper{
    width: 100%;
    margin: auto;
    padding: 0 72px;
    box-sizing: border-box;
    @media screen and (min-width: 1024px) {
        -webkit-transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1) ;
        -moz-transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
        transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    @media screen and (max-width: 1024px) {
        padding: 0 32px;
    }
    @media screen and (max-width: 640px) {
        padding: 0 24px;
    }
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.cs-p{
    line-height: 1.5;
    p{
        color: $dark;
    }
    color: $dark;
}
.padding{
    padding: 16px;
}
.no-padding{
    padding: 0;
}
.padding-left{
    padding-left: 16px;
}
.padding-right{
    padding-right: 16px;
}
.padding-top{
    padding-top: 16px;
}
.padding-bottom{
    padding-bottom: 16px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-top-minus-75{
    margin-top: -75px;
}
.margin-top-50{
    margin-top: 50px;
}
.font-size-56{
    font-size: 56px;
    @media screen and (max-width: 800px) {
        font-size: 32px;
        text-align: center;
    }
}


.cs-spacer {
    flex: 1 1 auto;
}
.cs-icon {
    padding: 0 14px;
}

/* ==========================================================================
	 Variables Texto
========================================================================== */

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// {
//     color: $main;
//     font-family: 'varela_roundregular', Arial, sans-serif !important;
// }

/* ==========================================================================
	 Mixins
========================================================================== */

@mixin placeholder($color) {
    /* WebKit */
     ::-webkit-input-placeholder {
        color: $color;
    }
    /* Firefox 18- */
     :-moz-placeholder {
        color: $color;
    }
    /* Firefox 19+ */
     ::-moz-placeholder {
        color: $color;
    }
    /* IE 10+ */
     :-ms-input-placeholder {
        color: $color;
    }
}

@mixin transition-all() {
    transition: all 0.25s;
}

@mixin image-responsive() {
    width: 100%;
    display: block;
    height: auto;
}


/* ==========================================================================
	 Extend/Inheritance
========================================================================== */

.md-message {
    color: #b0b0b0;
}

.md-success {
    @extend .md-message;
    color: green;
}

.md-error {
    @extend .md-message;
    color: red;
}

.md-warning {
    @extend .md-message;
    color: yellow;
}   