div(class="example-container mat-elevation-z8")
    div(class="example-header")
        mat-form-field
            input(matInput, (keyup)="applyFilter($event.target.value)", placeholder="Filter")
            
    mat-table(#table, [dataSource]="dataSource")
        ng-container(matColumnDef="titudle")
            mat-header-cell(*matHeaderCellDef) Título
            mat-cell(*matCellDef="let element") {{element.titudle}}
        
        ng-container(matColumnDef="desc_dudle")
            mat-header-cell(*matHeaderCellDef) Descripcion
            mat-cell(*matCellDef="let element") {{element.desc_dudle}}
        
        ng-container(matColumnDef="linkudle")
            mat-header-cell(*matHeaderCellDef) Link
            mat-cell(*matCellDef="let element") {{element.linkudle}}

        ng-container(matColumnDef="imagedudle")
            mat-header-cell(*matHeaderCellDef) Imagen
            mat-cell(*matCellDef="let element") {{element.imagedudle}}

        ng-container(matColumnDef="flg_default")
            mat-header-cell(*matHeaderCellDef) Doodle base
            mat-cell(*matCellDef="let element") {{element.flg_default}}
        
        ng-container(matColumnDef="flg_acti")
            mat-header-cell(*matHeaderCellDef) Activo
            mat-cell(*matCellDef="let element") {{element.flg_acti}}

        mat-header-row(*matHeaderRowDef="displayedColumns")
        mat-row(*matRowDef="let row; columns: displayedColumns;")