cs-shrinking-header-component([headerHeight]="256", [offset]="64")
    .wrapper
        span.font-size-56([class.hideTitle]="displayTitle") {{ title }}

section.wrapper.margin-minus-top
    .cs-row-flex
        .cs-row-column.w-25.text-left
            .cs-info
                .cs-avatar
                    img([src]="user?.avatar_url || UNKNOWN_USER_IMAGE")
                    h2 Hola, {{ user?.name }}
                .cs-p
                    p {{ user?.bio }}

                .button-row
                    mat-icon arrow_forward
                    button(mat-button, color='primary') INICIAR TOUR
                    button(mat-button, color='primary') OMITIR AYUDA

        .cs-row-column.w-75
            mat-card.cs-card
                h2 Todo lo que puedes hacer desde
                .cs-img-absolute
                    img([src]="DOODLE")

                mat-card-content
                    .cs-p
                        p {{ user?.avatar_url }}
                        a([href]="user?.blog") blog {{ user?.blog }}
                    ul
                        li The Shiba Inu is the smallest of the six original and distinct
                            a DASHBOARD
                            | spitz breeds of dog from Japan.
                        li The Shiba Inu is the smallest of the six original and distinct
                            a(href="") link
                            | spitz breeds of dog from Japan.
                        li The Shiba Inu is the smallest of the six original and distinct
                            a(href="") link
                            | spitz breeds of dog from Japan.
                        li The Shiba Inu is the smallest of the six original and distinct
                            a(href="") link
                            | spitz breeds of dog from Japan.
                        li The Shiba Inu is the smallest of the six original and distinct
                            a(href="") link
                            | spitz breeds of dog from Japan.