@import './../../../variables';
.button-row {
    display: flex;
    align-items: center;
}

.cs-row-column {
    justify-content: flex-start;
    &.w-25 {
        width: 25%;
        padding-right: 16px;
    }
    &.w-75 {
        width: 75%;
        padding-left: 16px;
    }
    @media screen and (max-width:1024px) {
        flex-direction: column;
        &.w-25,
        &.w-75 {
            width: 100%;
            display: block;
            padding: 0;
        }
    }
}

.cs-avatar {
    img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        display: block;
        border-radius: 50%;
    }
}

.cs-info {
    max-width: 250px;
}

.margin-minus-top {
    margin-top: -65px;
}

.cs-searc-icon {
    position: absolute;
    right: 100%;
    bottom: 15px;
    margin: auto;
    font-size: 45px;
    width: 54px;
    height: 54px;
    color: $light;
}

.margin-bottom {
    margin-bottom: 80px;
}

.cs-search {
    position: relative;
    width: 100%;
    mat-form-field {
        width: 100%;
    }
    .mat-form-field-suffix {
        .mat-icon-button {
            .mat-icon {
                font-size: initial;
            }
        }
    }
    .mat-button,
    .mat-icon-button {
        color: $light;
    }
    .mat-form-field-underline {
        background-color: $muted;
    }
    .mat-form-field-ripple {
        background-color: $light;
    }
    .mat-input-element {
        color: white !important;
        font-size: 2rem !important;
        @include placeholder($light);
    }
    .mat-form-field-label {
        color: rgba($light, .5);
        font-size: 2rem !important;
    }
    .mat-form-field-can-float {
        &.mat-form-field-should-float {
            .mat-form-field-label {
                font-size: 1rem !important;
            }
        }
    }
    .mat-form-field-infix {
        padding: 1.4375em 0;
    }
}

.mat-card-header-text {
    display: none;
}

.cs-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

ul {
    padding-left: 0;
}

li {
    position: relative;
    list-style: none;
    line-height: 1.5;
    &:before {
        content: "-";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        margin: auto;
        display: block;
    }
    a {
        padding-left: .35rem;
    }
}

.cs-img-absolute {
    img {
        position: absolute;
        display: block;
        top: 0;
        border-radius: 6px;
        right: 0;
        opacity: .5;
        z-index: 0;
    }
}

@media screen and (max-width:1024px) {
    .cs-row-flex {
        flex-direction: column;
    }
    .cs-info {
        max-width: 100%;
        text-align: center;
        margin-bottom: 37px;
    }
    .cs-avatar {
        img {
            margin: auto;
        }
    }
    .cs-searc-icon {
        right: initial;
    }
    .cs-search {
        mat-form-field {
            width: calc(100% - 60px);
            margin: 0 0 0 auto;
            padding-left: 60px;
        }
    }
}

@media screen and (max-width: 800px) {
    .cs-info {
        text-align: left;
    }
    .margin-minus-top {
        margin-top: -45px;
    }
    .margin-bottom {
        margin-bottom: 60px;
    }
    .cs-avatar {
        img {
            margin: 0;
            width: 80px;
            height: 80px;
        }
    }
    .cs-img-absolute {
        img {
            top: initial;
            bottom: 0;
            width: 100%;
        }
    }
    .cs-card {
        padding: 24px !important;
        min-height: 100%;
        padding-right: 24px !important;
        padding-bottom: 220px !important;
    }
}