cs-shrinking-header-component([headerHeight]="192", [offset]="64", [isToolbar]="false")
    .wrapper
        span.font-size-56([class.hideTitle]="displayTitle") {{ title }}

mat-sidenav-container
    mat-sidenav(#bscsidenav, [mode]="mobileQuery.matches ? 'over': 'side'", position="start", [opened]="mobileQuery.matches ? false : true")
        mat-toolbar.fixed-sideNav(color='primary')
            mat-toolbar-row
                button(mat-icon-button, (click)='bscsidenav.close()')
                    mat-icon(aria-label='Example icon-button with a heart icon') {{ mobileQuery.matches ?  "close" : "arrow_back" }}
                span.cs-spacer

                button(mat-icon-button)
                    mat-icon.cs-icon filter_list
                button(mat-icon-button)
                    mat-icon.cs-icon more_vert

        .cs-gauge
            cs-circular-gauge-component

        .cs-info
            //-TODO: binding
            h2 Grupo Educativo Avantgard
            .cs-p
                p
                    | "Centrados en los aprendizajes y en
                    | desarrollo de los talentos de nuestros estudiantes."

    mat-sidenav-content
        mat-toolbar.fixed-mobile(color='primary')
            mat-toolbar-row
                button(mat-icon-button, (click)="openSidenav()")
                    mat-icon(aria-label='Example icon-button with a heart icon') info

        .wrapper.cs-margin-minus-top
            cs-accordion-group
                cs-accordion([title]="'Giovanni Camanaa'")
                    .cs-content
                        .cs-panel
                            cs-circular-gauge-component.margin-top-minus-75
                        .cs-panel
                            .cs-panel-title
                                strong Financiero
                            .cs-p
                                p Rentabilizar la empresa y maximizar las ganancias de todo el grupo educativo.

                            cs-user-avatar

                        .cs-panel
                            .cs-panel-title Objetivos
                            cs-goals

                        .cs-panel
                            .cs-panel-title Indicadores
                            cs-indicators

                    mat-progress-bar(mode='indeterminate')

                cs-accordion([title]="'Giovanni Camanaa'")
                    .cs-content
                        .cs-panel
                            cs-circular-gauge-component.margin-top-minus-75
                        .cs-panel
                            .cs-panel-title
                                strong Clientes
                            .cs-p
                                p Rentabilizar la empresa y maximizar las ganancias de todo el grupo educativo.

                            cs-user-avatar

                        .cs-panel
                            .cs-panel-title Objetivos
                            cs-goals
                        .cs-panel
                            .cs-panel-title Indicadores
                            cs-indicators

                    mat-progress-bar(mode='indeterminate')
                cs-accordion([title]="'Giovanni Camanaa'")
                    .cs-content
                        .cs-panel
                            cs-circular-gauge-component.margin-top-minus-75
                        .cs-panel
                            .cs-panel-title
                                strong Procesos Internos
                            .cs-p
                                p Rentabilizar la empresa y maximizar las ganancias de todo el grupo educativo.

                            cs-user-avatar

                        .cs-panel
                            .cs-panel-title Objetivos
                            cs-goals
                        .cs-panel
                            .cs-panel-title Indicadores
                            cs-indicators

                    mat-progress-bar(mode='indeterminate')
                cs-accordion([title]="'Giovanni Camanaa'")
                    .cs-content
                        .cs-panel
                            cs-circular-gauge-component.margin-top-minus-75
                        .cs-panel
                            .cs-panel-title
                                strong Aprendizaje y crecimiento
                            .cs-p
                                p Rentabilizar la empresa y maximizar las ganancias de todo el grupo educativo.

                            cs-user-avatar

                        .cs-panel
                            .cs-panel-title Objetivos
                            cs-goals
                        .cs-panel
                            .cs-panel-title Indicadores
                            cs-indicators

                    mat-progress-bar(mode='indeterminate')