@import './../../../variables';
mat-sidenav-content {
    background: $muted;
    padding-bottom: 100px;
}

cs-circular-gauge-component {
    width: 100%;
}

mat-toolbar {
    &.fixed-sideNav {
        position: fixed;
        z-index: 2;
    }
    @media screen and (max-width: 360px) {
        &.fixed-mobile {
            position: fixed;
            z-index: 2;
            bottom: 0;
            left: 0;
        }
    }
}

mat-sidenav {
    width: 400px;
    @media screen and (max-width: 360px) {
        width: 100%;
        position: fixed;
        top: 58px;
    }
}

.cs-info {
    padding: 0 32px;
    margin-top: -80px;
}

.mat-card {
    z-index: 1;
}

.mat-drawer {
    background: $muted;
}

.cs-margin-minus-top {
    margin-top: -64px;
    @media screen and (max-width: 800px) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.cs-gauge {
    padding: 1rem;
}

.cs-icon {
    cursor: pointer;
}

mat-expansion-panel {
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all .3s ease-in-out;
    &.mat-expansion-panel-spacing {
        transform: matrix(1.03, 0, 0, 1.03, 0, 0);
    }
}

mat-expansion-panel-header {
    min-height: 230px;
    position: relative;
}

.mat-expansion-panel-header {
    align-items: flex-start;
    padding: 24px;
}

mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Structure */

.cs-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
}

.cs-panel {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    width: calc(100% / 4);
    flex-direction: column;
}

.cs-panel-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.cs-p {
    p {
        font-size: 14px;
        color: $dark;
    }
}

//Media Querys

@media screen and (max-width:1366px) {
    .wrapper {
        width: calc(100% - 90px);
    }
}

@media screen and (max-width:800px) {
    .wrapper {
        width: calc(100% - 16px);
    }
}

@media screen and (max-width:640px) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .wrapper {
        width: 100%;
    }
    .mat-drawer {
        transform: translate3d(0, 100%, 0);
    }
}

