.cs-list
    .cs-item
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
        .cs-circle
            .circle.green
        i.material-icons.green arrow_upward
        .cs-p
            p C1. Incrementar nuestra participación en el mercado.
    .cs-item
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
        .cs-circle
            .circle.red
        i.material-icons.green arrow_downward
        .cs-p
            p C1. Incrementar nuestra participación en el mercado.
    .cs-item
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
        .cs-circle
            .circle.red
        i.material-icons.orange arrow_downward
        .cs-p
            p C1. Incrementar nuestra participación en el mercado.
    .cs-item
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
        .cs-circle
            .circle.orange
        i.material-icons.gray remove
        .cs-p
            p C1. Incrementar nuestra participación en el mercado.
    .cs-item
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
        .cs-circle
            .circle.green
        i.material-icons.green arrow_upward
        .cs-p
            p C1. Incrementar nuestra participación en el mercado.
    .cs-item
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
        .cs-circle
            .circle.red
        i.material-icons.green arrow_downward
        .cs-p
            p C1. Incrementar nuestra participación en el mercado.
    .cs-item
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
        .cs-circle
            .circle.red
        i.material-icons.orange arrow_downward
        .cs-p
            p C1. Incrementar nuestra participación en el mercado.
    .cs-item
        .cs-avatar
            img(src="https://scontent.flim5-3.fna.fbcdn.net/v/t31.0-8/15110940_1184994398220389_1027009796000303199_o.jpg?oh=64c47276d4b51aa29eaa0596b2a39da4&oe=5ACC87F2")
        .cs-circle
            .circle.orange
        i.material-icons.gray remove
        .cs-p
            p C1. Incrementar nuestra participación en el mercado.