@import './../../../variables';
.cs-gauge{
    padding: 16px;
}
.cs-gauge-state{
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    top: 50px;
    left: 30px;
    position: absolute;
    &.orange{
        background-color: $orange;
    }
    &.red{
        background-color: $red;
    }
    &.green{
        background-color: $green;
    }
}