@import './../../../variables';
.cs-content {
    margin-top: 15px;
}

.cs-card {
    margin-bottom: 8px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    i {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.7rem;
        font-weight: bold;
    }
    &.active {
        box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.1);
    }
    &:hover {
        box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.1);
    }
}


.circle {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    display: block;
    margin-right: .2rem;
    margin-left: .2rem;
    &.green {
        background-color: $green;
    }
    &.orange {
        background-color: $orange;
    }
    &.red {
        background-color: $red;
    }
}

.cs-p {
    p {
        font-size: 12px;
    }
}

.material-icons {
    padding-right: .2rem;
    &.green {
        color: $green;
    }
    &.orange {
        color:$orange;
    }
    &.red {
        color: $red;
    }
}

.cs-avatar {
    display: inline-block;
    vertical-align: middle;
    img {
        width: 28px;
        height: 28px;
        display: block;
        border-radius: 50%;
        object-fit: cover;
    }
    img,
    .cs-circle,
    .material-icons {
        display: inline-block;
    }
}