html(lang='en')
	head
		meta(charset='utf-8')
		title BaseWeb
		base(href='/')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', type='image/x-icon', href='favicon.ico')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

	body
		app-root