/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/variables';
@import './app/material-layout';
@import "./assets/scss/custom_fonts";
html,
body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: $muted;
    font-family: Roboto, 'Helvetice New', 'Arial', sans-serif;
}
a {
    cursor: pointer;
}
mat-sidenav-content {
    transition: overflow .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

shrinking-header-component {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3f51b5;
    margin-top: 64px;
    -webkit-transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
    span {
        font-size: 56px;
        width: 100%;
        position: relative;
        z-index: 3;
        color: $light;
        cursor: pointer;
        line-height: 1.5;
        font-weight: 400;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
        -moz-transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
        transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
        &.hideTitle {
            font-size: 24px !important;
            position: fixed;
            top: 19px;
            left: 72px;
            margin-left: 0 !important;
        }
        @media screen and (max-width: 800px) {
            font-size: 28px;
        }
    }
    @media screen and (max-width:600px) {
        margin-top: 56px;
    }
}

span.mat-expansion-indicator {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;
    text-align: center;
}

.mat-expansion-panel-content {
    position: relative;
}

//CSAccordion css
cs-accordion-group {
    display: block;
    position: relative;
    z-index: 1;
}

cs-accordion {
    display: block;
    position: relative;
}

//AQUI ABAJO CSS
cs-shrinking-header-component {
    height: 256px;
    display: block;
    padding-top: 80px;
    display: block;
    ;
    background-color: #3f51b5;
    box-sizing: border-box;
    margin-top: 64px;
    -webkit-transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
    span {
        font-size: 56px;
        width: 100%;
        position: relative;
        z-index: 3;
        color: $light;
        cursor: pointer;
        line-height: 1.5;
        font-weight: 400;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
        -moz-transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
        transition: font-size .8s cubic-bezier(0.0, 0.0, 0.2, 1);
        &.hideTitle {
            font-size: 24px !important;
            position: fixed;
            top: 19px;
            left: 72px;
            margin-left: 0 !important;
        }
        @media screen and (max-width: 768px) {
            font-size: 42px;
            max-width: 100%;
            padding-top: 2rem;
            &.hideTitle {
                padding-top: 0;
                top: 18px;
            }
        }
        @media screen and (max-width: 480px) {
            font-size: 30px !important;
            &.hideTitle {
                max-width: 35%;
            }
        }
        @media screen and (max-width: 360px) {
            font-size: 24px !important;
            &.hideTitle {
                left: 56px;
                max-width: 139px;
            }
        }
        @media screen and (max-width: 320px) {
            &.hideTitle {
                max-width: 95px;
            }
        }
    }
}